<div class="container bd">
    <div class="row">
        <div class="col">
            <form method="POST">
                <h5>Stato connessione server</h5>
                {{message}}<br/>
                
                <button type="submit" class="btn btn-primary" name="connect">Connetti</button>
            </form>
        </div>
    </div>
</div>
