<form method="POST">
    <div class="container bd">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="wsUrlEditor">CV Server URL</label>
                    <input type="text" class="form-control" id="wsUrlEditor" name="wsUrl" placeholder="ws://" value="{{config.wsUrl}}">
                    <small id="wsUrlHelp" class="form-text text-muted">Inserisci l'indirizzo del web service</small>
                </div>
                <button type="submit" class="btn btn-primary">Salva</button>
            </div>
        </div>
    </div>
</form>